In [117]:
import pandas as pd 
from sklearn.pipeline import Pipeline
import plotly.express as px
from sklearn.base import BaseEstimator, TransformerMixin
import numpy as np
from datetime import datetime

pd.set_option("display.max_columns", 100)

In [119]:
df = pd.read_csv("data/raw_data.csv")
df

,Unnamed: 0,vehicle_maxChgRate_W,peakPower_W,sch_centsPerHr,connectTime,vehicle_model,Duration,userId,regular,startChargeTime,sch_centsPerOverstayHr,sch_centsPerKwh,choice,siteId,estCost,DurationHrs,dcosId,lastUpdate,power,stationId,defaultDeadline,scheduled,cumEnergy_Wh,reg_centsPerHr,Deadline,energyReq_Wh,finishChargeTime,trueDurationHrs,true_peakPower_W,Overstay,Overstay_h
0,0,6600,6335.0,9.0,2020-11-05 10:30:16,500e,0 days 03:43:57,605,1,2020-11-05 10:31:09,200.0,15.0,REGULAR,23,5.35224,3.73249,24,2020-11-05 14:15:06,"[{'power_W': Decimal('6259'), 'timestamp': Dec...",7,1969-12-31T16:00:00,0,3281.0,130.0,NaN,NaN,2020-11-05 14:15:06,3.732,879.0,0 days 00:00:00,0.000000
1,1,24000,7005.0,3.0,2020-11-11 07:39:55,Model 3,0 days 06:50:07,486,1,2020-11-11 07:39:59,200.0,15.0,REGULAR,23,10.75291,6.83527,26,2020-11-11 14:30:06,"[{'power_W': Decimal('0'), 'timestamp': Decima...",3,2020-11-12T03:11:00,0,33458.0,150.0,NaN,NaN,2020-11-11 14:30:06,6.835,4895.0,0 days 00:00:00,0.000000
2,2,3600,3450.0,3.0,2020-11-13 16:19:55,Volt,0 days 20:40:02,620,0,2020-11-13 16:20:06,300.0,12.0,SCHEDULED,25,29.32211,20.66722,30,2020-11-14 13:00:08,"[{'power_W': Decimal('0'), 'timestamp': Decima...",12,2020-11-14T04:11:00,1,15216.0,180.0,2020-11-14 04:15:00,18400.0,2020-11-14 04:15:00,11.915,1277.0,0 days 08:45:08,8.752222
3,3,7200,6889.0,3.0,2020-11-14 23:47:06,Bolt,0 days 02:12:51,618,1,2020-11-14 23:47:16,400.0,18.0,REGULAR,23,3.82125,2.21416,31,2020-11-15 02:00:07,"[{'power_W': Decimal('6889'), 'timestamp': Dec...",6,1969-12-31T16:00:00,0,14378.0,150.0,NaN,NaN,2020-11-15 02:00:07,2.214,6494.0,0 days 00:00:00,0.000000
4,4,6000,6852.0,NaN,2020-11-16 11:38:44,B-Class Electric Drive,0 days 03:12:45,623,1,2020-11-16 11:42:22,NaN,NaN,REGULAR,23,NaN,3.21249,32,2020-11-16 14:55:07,"[{'power_W': Decimal('6813'), 'timestamp': Dec...",9,2020-11-17T04:11:00,0,12484.0,NaN,NaN,NaN,2020-11-16 14:55:07,3.212,3887.0,0 days 00:00:00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,3462,11500,6437.0,200.0,2023-04-07 09:28:49,Model Y,0 days 03:09:08,1217,1,2023-04-07 09:31:00,300.0,0.0,REGULAR,25,5.22833,3.15222,4693,2023-04-07 12:40:08,"[{'power_W': Decimal('6384'), 'timestamp': Dec...",13,2023-04-07T21:45:00,0,19082.0,150.0,NaN,NaN,2023-04-07 12:40:08,3.152,6054.0,0 days 00:00:00,0.000000
2821,3463,250000,6748.0,200.0,2023-04-07 09:37:53,Model Y,0 days 02:57:08,1234,1,2023-04-07 09:38:01,300.0,0.0,REGULAR,25,4.92833,2.95222,4694,2023-04-07 12:35:09,"[{'power_W': Decimal('1857'), 'timestamp': Dec...",11,2023-04-07T18:00:00,0,17783.0,150.0,NaN,NaN,2023-04-07 12:35:09,2.952,6024.0,0 days 00:00:00,0.000000
2822,3464,55000,6652.0,200.0,2023-04-07 09:40:31,Bolt EUV,0 days 02:34:15,988,1,2023-04-07 09:40:54,300.0,0.0,REGULAR,25,4.35625,2.57083,4695,2023-04-07 12:15:09,"[{'power_W': Decimal('6640'), 'timestamp': Dec...",14,2023-04-07T13:00:00,0,8610.0,150.0,NaN,NaN,2023-04-07 12:15:09,2.571,3349.0,0 days 00:00:00,0.000000
2823,3465,55000,6588.0,200.0,2023-04-07 10:51:27,Clarity PHEV,0 days 01:43:06,933,1,2023-04-07 10:52:03,300.0,0.0,REGULAR,25,3.07750,1.71833,4696,2023-04-07 12:35:09,"[{'power_W': Decimal('6588'), 'timestamp': Dec...",17,2023-04-07T15:15:00,0,10286.0,150.0,NaN,NaN,2023-04-07 12:35:09,1.718,5987.0,0 days 00:00:00,0.000000
2824,3466,6500,6285.0,200.0,2023-04-07 11:03:15,Mach-E,0 days 01:35:56,1208,1,2023-04-07 11:04:12,300.0,0.0,REGULAR,25,2.89833,1.59888,4697,2023-04-07 12:40:08,"[{'power_W': Decimal('1033'), 'timestamp': Dec...",18,2023-04-07T20:00:00,0,9442.0,150.0,NaN,NaN,2023-04-07 12:40:08,1.599,5905.0,0 days 00:00:00,0.000000

In [144]:
a = pd.DataFrame(index=["2022","2023","2024"], data={"a":[3,4,99], "b":[7,8,9]})
a.index = pd.to_datetime(a.index)
b = pd.DataFrame(index=["2024","2025"], data={"a":[111,7], "b":[45,12]})
b.index = pd.to_datetime(b.index)

In [145]:
a

             a  b
2022-01-01   3  7
2023-01-01   4  8
2024-01-01  99  9

In [146]:
b

              a   b
2024-01-01  111  45
2025-01-01    7  12

In [147]:
pd.concat([a,b], axis=0).resample("1Y").last()

              a   b
2022-12-31    3   7
2023-12-31    4   8
2024-12-31  111  45
2025-12-31    7  12

In [141]:
from app import hourly_forecasts

df = hourly_forecasts()
df

Fetching data...
Cleaning data...
Done!

,avg_power_demand_W_predictions,energy_demand_kWh_predictions,peak_power_W_predictions
time,,,
2023-04-07 18:00:00,1363.046667,1.253727,2870.833333
2023-04-07 19:00:00,1316.906667,1.316907,3238.166667
2023-04-07 20:00:00,927.106667,0.927107,1403.125000
2023-04-07 21:00:00,414.076667,0.414077,808.000000
2023-04-07 22:00:00,259.770000,0.259770,505.500000
2023-04-07 23:00:00,227.113333,0.227113,401.291667
2023-04-08 00:00:00,349.713333,0.349713,573.458333
2023-04-08 01:00:00,0.000000,0.000000,573.458333
2023-04-08 02:00:00,112.453333,0.112453,179.583333
2023-04-08 03:00:00,112.453333,0.112453,0.000000
2023-04-08 04:00:00,0.000000,0.000000,83.416667
2023-04-08 05:00:00,0.000000,0.000000,0.000000
2023-04-08 06:00:00,299.503333,0.299503,717.750000
2023-04-08 07:00:00,1139.213333,1.139213,1463.916667
2023-04-08 08:00:00,794.063333,0.794063,424.166667
2023-04-08 09:00:00,380.240000,0.380240,882.125000
2023-04-08 10:00:00,631.806667,0.631807,882.125000
2023-04-08 11:00:00,613.333333,0.613333,510.333333
2023-04-08 12:00:00,674.293333,0.674293,369.458333
2023-04-08 13:00:00,1227.266667,1.227267,584.583333
2023-04-08 14:00:00,1599.606667,1.599607,1412.625000
2023-04-08 15:00:00,1463.003333,1.463003,2436.916667
2023-04-08 16:00:00,2065.310000,2.065310,886.458333
2023-04-08 17:00:00,1539.363333,1.194387,601.666667

In [142]:
df2 = pd.DataFrame(columns=["avg_power_demand_W_predictions", "energy_demand_kWh_predictions", "peak_power_W_predictions"], index=pd.Index([], name="time"))
df2

Empty DataFrame
Columns: [avg_power_demand_W_predictions, energy_demand_kWh_predictions, peak_power_W_predictions]
Index: []

In [116]:
df3 = pd.concat([df2, df], axis=0)
df3

,avg_power_demand_W_predictions,energy_demand_kWh_predictions,peak_power_W_predictions
time,,,
2023-04-06 21:00:00,1475.862667,1.450527,1453.291667
2023-04-06 22:00:00,800.073333,0.800073,1312.500000
2023-04-06 23:00:00,57.360000,0.057360,1552.083333
2023-04-07 00:00:00,47.800000,0.047800,39.833333
2023-04-07 01:00:00,0.000000,0.000000,39.833333
2023-04-07 02:00:00,47.160000,0.047160,255.375000
2023-04-07 03:00:00,9.416667,0.000000,49.125000
2023-04-07 04:00:00,0.000000,0.000000,19.916667
2023-04-07 05:00:00,191.850000,0.033720,0.000000
2023-04-07 06:00:00,102.136667,0.102137,1324.125000
2023-04-07 07:00:00,1629.223333,1.629223,2752.625000
2023-04-07 08:00:00,7852.083333,7.852083,10274.083333
2023-04-07 09:00:00,11051.220000,11.051220,13684.583333
2023-04-07 10:00:00,15472.080000,15.472080,14058.541667
2023-04-07 11:00:00,12501.760000,12.501760,11115.875000
2023-04-07 12:00:00,9797.260000,9.797260,12986.208333
2023-04-07 13:00:00,9928.350000,9.928350,8779.583333
2023-04-07 14:00:00,4453.623333,4.453623,7784.083333
2023-04-07 15:00:00,4506.070000,4.506070,3130.291667
2023-04-07 16:00:00,8193.540000,8.193540,3582.666667
2023-04-07 17:00:00,3661.573333,3.661573,8757.166667
2023-04-07 18:00:00,1312.743333,1.312743,2764.250000
2023-04-07 19:00:00,1316.906667,1.316907,3238.166667
2023-04-07 20:00:00,927.106667,0.927107,1403.125000

In [110]:
import csv
w = csv.writer(open("forecastdata/hourlyforecasts.csv"))

In [56]:
from sklearn.base import BaseEstimator, TransformerMixin
import pandas as pd


class SortDropCast(BaseEstimator, TransformerMixin):
    """
    This pipeline step will sort values by field "connectTime",
    drop columns "user_email", "slrpPaymentId", 
    and cast columns "cumEnergy_Wh", "peakPower_W" as float values. 
    """

    def fit(self, X, y=None):
        return self

    @staticmethod
    def transform(X) -> pd.DataFrame:
        X = X.sort_values(by="connectTime").drop(
            columns=["user_email", "slrpPaymentId"]).reset_index(drop=True)
        X["cumEnergy_Wh"] = X["cumEnergy_Wh"].astype(float)
        X["peakPower_W"] = X["peakPower_W"].astype(float)
        return X


class HelperFeatureCreation(BaseEstimator, TransformerMixin):
    """
    This pipeline step will drop any records that contain 0 for 
    "peakPower_W" or "cumEnergy_Wh". Four additional columns will be created:
    "reqChargeTime", "finishChargeTime", "Overstay", and "Overstay_h". 
    Any records with calculated charging durations greater than a day will be dropped. 
    Raw data (with these new features) at this staged will be saved.
    """

    def fit(self, X, y=None):
        return self

    @classmethod
    def transform(cls, X) -> pd.DataFrame:
        X = X.loc[(X["peakPower_W"] != 0) & (
            X["cumEnergy_Wh"] != 0)].copy(deep=True)

        X["connectTime"] = pd.to_datetime(X["connectTime"])
        X["startChargeTime"] = pd.to_datetime(X["startChargeTime"])
        X["Deadline"] = pd.to_datetime(X["Deadline"])
        X["lastUpdate"] = pd.to_datetime(X["lastUpdate"])

        X["finishChargeTime"] = X.apply(cls.__get_finishChargeTime, axis=1)
        X["trueDurationHrs"] = X.apply(cls.__get_duration, axis=1)
        X["true_peakPower_W"] = X["cumEnergy_Wh"] / X["trueDurationHrs"]

        # filter out bad rows (this occurs when there is a very low peak power and high energy delivered)
        X = X.loc[X["trueDurationHrs"] <= 24].copy()

        X['temp_0'] = pd.Timedelta(days=0, seconds=0)
        X['Overstay'] = X["lastUpdate"] - X['Deadline']
        X["Overstay"] = X[["Overstay", "temp_0"]].max(axis=1)
        X['Overstay_h'] = X['Overstay'].dt.seconds / 3600

        X.drop(columns=['temp_0'], inplace=True)

        X.to_csv("data/raw_data.csv")

        return X
    
    @staticmethod
    def __get_duration(row):
        if row["regular"] == 1:
            return round(((row["lastUpdate"] - row["startChargeTime"]).seconds/3600), 3)
        else: 
            return round(((row["Deadline"] - row["startChargeTime"]).seconds/3600), 3)
        
    @staticmethod
    def __get_finishChargeTime(row):
        if row["regular"] == 1:
            return row["lastUpdate"]
        else:
            return row["Deadline"]
        

class CreateSessionTimeSeries(BaseEstimator, TransformerMixin):
    """
    This pipeline step will create a time series for each session. A dataframe
    with 5-min granularity will be returned, with one column, "power_demand_W".
    """

    def fit(self, X, y=None):
        return self

    def transform(self, X) -> pd.DataFrame:
        self.rows = []
        X.apply(self.__create_ts, axis=1)
        X = pd.concat(self.rows, axis=0).sort_index()
        X = X.resample("5MIN").sum()
        return X

    def __create_ts(self, session):
        """
        This helper function takes in a session, with a "connectTime", "finishChargeTime", and 
        a "peakPower_W" column. Function will return a time series at 5-min granularity. 
        """
        date_range = pd.date_range(
            start=session["startChargeTime"], end=session["finishChargeTime"], freq="5min")
        temp_df = pd.DataFrame(index=date_range)
        temp_df["avg_power_demand_W"] = session["true_peakPower_W"]  # rename
        self.rows.append(temp_df)


class FeatureCreation(BaseEstimator, TransformerMixin):
    """
    This pipeline step will create an "energy_demand_kWh" and "peak_power_W" column. 
    The name of the dataframe's index will be set to "time", and "day" and "month" columns 
    will be created. 
    """

    def fit(self, X, y=None):
        return self

    @ staticmethod
    def transform(X) -> pd.DataFrame:
        X["energy_demand_kWh"] = (X["avg_power_demand_W"]/1000)/12
        # for the highest granularity, peak power is equal to the power demand
        # (different for different granularities though)
        X["peak_power_W"] = X["avg_power_demand_W"]
        X.index.name = "time"
        X["day"] = X.index.day_name()
        X["month"] = X.index.month_name()
        return X


class SaveToCsv(BaseEstimator, TransformerMixin):
    """
    This pipeline step takes each dataframe and creates new granularities
    (hourly, daily, and monthly). Each dataframe is saved to a "data/" file. 
    """

    def __init__(self) -> None:
        self.agg_key = {
            "avg_power_demand_W": "mean",
            "energy_demand_kWh": "sum",
            "peak_power_W": "max",
            "day": "first",
            "month": "first"
        }
        self.dataframe_names = [
            "fivemindemand",
            "hourlydemand",
            "dailydemand",
            "monthlydemand"
        ]
        super().__init__()

    def fit(self, X, y=None):
        return self

    def transform(self, X) -> dict:
        # create new granularities
        hourlydemand = X.resample("1H").agg(self.agg_key)
        dailydemand = X.resample("24H").agg(self.agg_key)
        monthlydemand = X.resample("1M").agg(self.agg_key)

        new_dataframes = {
            "fivemindemand": X,
            "hourlydemand": hourlydemand,
            "dailydemand": dailydemand,
            "monthlydemand": monthlydemand
        }

        # save to file system
        for idx, dataframe in enumerate(new_dataframes.values()):
            dataframe.to_csv(f"data/{self.dataframe_names[idx]}.csv")
        return new_dataframes

In [2]:
from sklearn.base import TransformerMixin, BaseEstimator
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd


class HourlyForecast(BaseEstimator, TransformerMixin):

    columns = ["avg_power_demand_W", "energy_demand_kWh", "peak_power_W"]

    def __init__(self, best_params: dict) -> None:
        super().__init__()
        self.best_params = best_params

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):

        # add 24 hours to end of data 
        X = self.__create_24hrs_future(X)
        # copy prediction interval
        forecasts = pd.DataFrame(index=X.index[-24:])

        for column in self.columns:
            # get params
            params = self.best_params.get(column)

            # create regressor
            regressor = KNeighborsRegressor(
                n_neighbors=params["best_n_neighbors"])
            
            # isolate column, create features
            df = X[[column]].copy()
            df = self.__create_lag_features(df,params["best_depth"], col_name=column)

            # split into training set and test set
            X_train, X_test, y_train, y_test = self.__train_test_split(df, col_name=column)

            # train regressor and predict 24 hours ahead
            regressor.fit(X_train, y_train)
            forecasts[column + "_predictions"] = regressor.predict(X_test).reshape(-1)

        return forecasts


    @staticmethod
    def __create_24hrs_future(df):
        prediction_range = pd.DataFrame(index=df.index[-24:] + pd.Timedelta(hours=24), columns=df.columns)
        df = pd.concat([df, prediction_range])
        return df 

    @staticmethod
    def __create_lag_features(df, num_lag_depths, col_name):
        df_with_lags = df.copy(deep=True)
        for lag_depth in np.arange(1, num_lag_depths+1):
            column = df_with_lags[col_name].shift(24*lag_depth)
            df_with_lags = pd.concat([df_with_lags, column.rename("lag" + f"{lag_depth}")], axis=1)
        return df_with_lags.dropna(subset=df_with_lags.columns.drop(col_name)) # only rows with NaN as features, NaN in true value column is OK
    
    @staticmethod
    def __train_test_split(df, col_name):
        """
        Withhold the last 24 hours to predict the next 24 hours.
        """
        X_train, X_test, y_train, y_test = train_test_split(
            df.drop(columns=col_name),
            df[[col_name]],
            test_size=24, # withhold last 24 hours
            shuffle=False
        )
        return X_train, X_test, y_train, y_test

In [6]:
from app import update_ml_parameters

best = update_ml_parameters()
best

Fetching data...
Cleaning data...
Done!
Fitting 1 folds for each of 336 candidates, totalling 336 fits
Fitting 1 folds for each of 336 candidates, totalling 336 fits
{'energy_demand_kWh': {'best_depth': 57, 'best_n_neighbors': 25}, 'peak_power_W': {'best_depth': 57, 'best_n_neighbors': 24}, 'avg_power_demand_W': {'best_depth': 57, 'best_n_neighbors': 25}}

{'best_params': {'energy_demand_kWh': {'best_depth': 57,
   'best_n_neighbors': 25},
  'peak_power_W': {'best_depth': 57, 'best_n_neighbors': 24},
  'avg_power_demand_W': {'best_depth': 57, 'best_n_neighbors': 25}},
 'last_validated_time': '04/02/23 17:36:38'}

In [5]:
best = {'best_params': {'energy_demand_kWh': {'best_depth': 57,
   'best_n_neighbors': 25},
  'peak_power_W': {'best_depth': 57, 'best_n_neighbors': 24},
  'avg_power_demand_W': {'best_depth': 57, 'best_n_neighbors': 25}},
 'last_validated_time': '04/02/23 17:36:38'}
df = pd.read_csv("data/hourlydemand.csv", parse_dates=True, index_col="time")
df

,avg_power_demand_W,energy_demand_kWh,peak_power_W,day,month
time,,,,,
2020-11-05 10:00:00,879.000000,0.439500,879.0,Thursday,November
2020-11-05 11:00:00,879.000000,0.879000,879.0,Thursday,November
2020-11-05 12:00:00,879.000000,0.879000,879.0,Thursday,November
2020-11-05 13:00:00,879.000000,0.879000,879.0,Thursday,November
2020-11-05 14:00:00,219.750000,0.219750,879.0,Thursday,November
...,...,...,...,...,...
2023-04-02 13:00:00,0.000000,0.000000,0.0,Sunday,April
2023-04-02 14:00:00,0.000000,0.000000,0.0,Sunday,April
2023-04-02 15:00:00,4984.166667,4.984167,5981.0,Sunday,April
2023-04-02 16:00:00,5981.000000,5.981000,5981.0,Sunday,April
2023-04-02 17:00:00,5981.000000,2.492083,5981.0,Sunday,April

In [6]:
pipeline = Pipeline([
    ("estimator", HourlyForecast(best_params=best["best_params"]))
])

forecasts = pipeline.fit_transform(df)
forecasts

,avg_power_demand_W_predictions,energy_demand_kWh_predictions,peak_power_W_predictions
time,,,
2023-04-02 18:00:00,724.366667,0.584810,1379.041667
2023-04-02 19:00:00,1091.010000,1.091010,782.000000
2023-04-02 20:00:00,1040.526667,1.040527,950.833333
2023-04-02 21:00:00,407.486667,0.407487,607.958333
2023-04-02 22:00:00,468.393333,0.468393,231.375000
2023-04-02 23:00:00,0.000000,0.000000,9.958333
2023-04-03 00:00:00,0.000000,0.000000,0.000000
2023-04-03 01:00:00,0.000000,0.000000,0.000000
2023-04-03 02:00:00,40.933333,0.040933,242.916667
2023-04-03 03:00:00,0.000000,0.000000,127.916667
2023-04-03 04:00:00,112.453333,0.112453,164.166667
2023-04-03 05:00:00,67.440000,0.030600,0.000000
2023-04-03 06:00:00,123.560000,0.123560,189.750000
2023-04-03 07:00:00,1880.586667,1.880587,2897.666667
2023-04-03 08:00:00,6729.503333,6.729503,11052.458333
2023-04-03 09:00:00,12151.313333,12.151313,12906.250000
2023-04-03 10:00:00,14076.006667,14.076007,16027.875000
2023-04-03 11:00:00,14990.596667,14.990597,15531.375000
2023-04-03 12:00:00,13805.190000,13.805190,15614.500000
2023-04-03 13:00:00,11959.596667,11.959597,12220.375000
2023-04-03 14:00:00,8690.336667,8.690337,5983.500000
2023-04-03 15:00:00,7208.113333,7.208113,10369.875000
2023-04-03 16:00:00,6942.323333,6.942323,8484.041667
2023-04-03 17:00:00,4773.613333,4.550787,7892.583333