In [1]:
from db.utils import db

In [2]:
r = db.get_redis_connection()

In [4]:
db.get_chunks(r, "fivemindemand")

,avg_power_demand_W,energy_demand_kWh,peak_power_W,day,month
time,,,,,
2020-11-05 10:30:00,879.0,0.07325,879.0,Thursday,November
2020-11-05 10:35:00,879.0,0.07325,879.0,Thursday,November
2020-11-05 10:40:00,879.0,0.07325,879.0,Thursday,November
2020-11-05 10:45:00,879.0,0.07325,879.0,Thursday,November
2020-11-05 10:50:00,879.0,0.07325,879.0,Thursday,November
...,...,...,...,...,...
2023-08-17 21:30:00,0.0,0.00000,0.0,Thursday,August
2023-08-17 21:35:00,0.0,0.00000,0.0,Thursday,August
2023-08-17 21:40:00,0.0,0.00000,0.0,Thursday,August
2023-08-17 21:45:00,0.0,0.00000,0.0,Thursday,August
2023-08-17 21:50:00,0.0,0.00000,0.0,Thursday,August

In [9]:
import pickle

r.set("test", pickle.dumps({"a":3}))

True

In [6]:
a = np.arange(8)